alabaster==0.7.13
Babel==2.13.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
coverage==7.3.2
docutils==0.20.1
filelock==3.13.1
flake8==6.1.0
fsspec==2023.10.0
huggingface-hub==0.19.4
idna==3.6
imagesize==1.4.1
importlib-metadata==6.8.0
Jinja2==3.1.2
joblib==1.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
networkx==3.1
nltk==3.8.1
numpy==1.24.4
packaging==23.2
pycodestyle==2.11.1
pycryptodome==3.19.0
pyflakes==3.1.0
Pygments==2.17.2
PyMuPDF==1.23.6
PyMuPDFb==1.23.6
PyPDF2==3.0.1
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
rich==13.7.0
safetensors==0.4.1
snowballstemmer==2.2.0
Sphinx==7.1.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sympy==1.12
tokenizers==0.15.0
torch==2.1.1
tqdm==4.66.1
transformers==4.35.2
typing_extensions==4.8.0
urllib3==2.1.0
# Editable install with no version control (virtual-raphael==0.1.0)
-e /Users/lesliec/Documents/[codebase]/Edo's stuff/from Karl/virtual_raphael/src
zipp==3.17.0
